:root {
  --color-red: #FF5D50;
  --color-yellow: #FFD153;
  --color-text: #221E1F;
  --color-primary: #56C4C5;
  --color-gray: #747474;
  --color-bgGray: #F5F5F5; 
  --color-carousel: #DDDDDD;
  --color-banner: #F7F9FD;
}